
.container {
  display: flex;
  justify-content: center;
}

.page {
  flex-direction: column;
  width: 1000px;
}

.section--header {
  height: 250px;
  display: block;
  overflow: hidden;
}

.illustration {
  max-width: 1200px;
}



.text {
  position: absolute;
  margin: 10px 190px;
  font-size: 16px;
  font-style: italic;
  text-shadow: 2px 2px blue;
  color: white;
}


.section--menu {
  background: #333;
  /*background: rgba(76, 175, 80, 0.3)*/
}


.menu {
  color: white;
  width: 100%;
  display: inline-flex;
  padding: 0;

  &--item {
    /*overflow: auto;*/
    list-style-type: none;
    font-size: 20px;
    font-family: Bahnschrift;
    padding: 5px 30px;
  }

  &--item:hover {
    background-color: #808080;
  }

  .active {
    background-color: #808080;
    border-radius: 2px;
  }
}

.section--menu ul {
  margin: 0;
}

.section--content {
  background: #EAEDF0;
  //display: flex;
}

.section--footer {
  background: #EAEDF0;
  height: 200px;
  overflow: hidden;
}
