
.container {
  display: flex;
  justify-content: center;
}

.page {
  flex-direction: column;
  width: 1200px;
}

.section--header {
  height: 220px;
  display: block;
  overflow: hidden;
}

.illustration {
  max-width: 1200px;
}



.text {
  position: absolute;
  margin: 10px 190px;
  font-size: 16px;
  font-style: italic;
  text-shadow: 2px 2px blue;
  color: white;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.section--menu {
  overflow: hidden;
}


.menu {
  background: green;
  color: white;
  width: 100%;
  display: inline-flex;
  padding: 0;

  &--item {
    overflow: auto;
    list-style-type: none;
    font-size: 20px;
    font-family: 'LibreBaskerville-Regular';
    padding: 5px 30px;
  }

  &--item:hover {
    background-color: #3ec33e;
  }
}

.section--menu ul {
  margin: 0;
}

.section--content {
  background: #EAEDF0;
  height: 350px;
  overflow: auto;
}

.section--footer {
  background: #e5e5e5;
  height: 200px;
  overflow: auto;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
  }
}
