
<div class="container">

  <div class="page">

    <div class="section--header">
      <!--<img src="./assets/img.jpg" width="1200" height="600" />-->
      <!--<img class='illustration' src="https://i.pinimg.com/originals/a9/34/bc/a934bc2e212c821e1054f554948466f2.jpg" width="1200" height="300">-->
      <!--<p class="text showcase-text">"Beda, kto v mori vidí iba vodu, kto nepočuje nemú prírodu, kto v skalách vidí iba skaly." A.Sládkovič</p>-->
      <img class='illustration' src="https://sacr3-files.s3-eu-west-1.amazonaws.com/_processed_/csm_tatry%2520panorama_d95b968157.jpg" alt="Cinque Terre">

    </div>

    <div class="section--menu">

      <ul class="menu">
        <li class="menu--item" routerLink="home" routerLinkActive="active">Home</li>
        <li class="menu--item" routerLink="map" [routerLinkActive]="['active']">Map</li>
        <li class="menu--item" routerLink="about" [routerLinkActive]="['active']">About</li>
        <li class="menu--item" routerLink="hiking" [routerLinkActive]="['active']">Hiking</li>
        <li class="menu--item" routerLink="contacts" [routerLinkActive]="['active']">Contacts</li>
      </ul>

    </div>


    <div class="section--content">
      <router-outlet></router-outlet>
    </div>

    <div class="section--footer">
      <hr>
      <div class="row" style="margin-left:150px">
        <div class="col-sm-4"> Posledne navstivene</div>
        <div class="col-sm-4"> Posledne navstivene</div>
        <div class="col-sm-4"> Posledne navstivene</div>
      </div>
    </div>

  </div>
</div>
