HIKING


<div class="filter">
  <ul>
    <li> Vysoké Tatry </li>
    <li> Nízke Tatry </li>
    <li> Slovenský Raj </li>
  </ul>
</div>



<div class="item">
  <h2>Slavkovský štít</h2>
  <div class="row" style="margin:0">
    <img class="col-md-3 img" src=" https://kamnahory.sk/images/stories/Tatry/800x600/Slavkovsy_stit.jpg" /><br />
    <span class="col-md-8">Dlhá namáhavá celodenná túra bez možnosti občerstvenia sa, mnohými turistami označovaná aj ako nekonečná :-). Vychádzame zo Starého Smokovca od stanice pozemnej lanovky lesným chodníkom</span>
  </div>
</div>

