HIKING



<div class="filter">
  <ul>
    <li> Vysoké Tatry </li>
    <li> Nízke Tatry </li>
    <li> Slovenský Raj </li>
  </ul>
</div>


<div class="container--content mx-4">


  <div *ngFor="let item of hiking" class="item">


    <div class="d-flex flex-row">
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /> </div>
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /></div>
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /></div>
    </div>


    <div class="d-flex flex-row">
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /> </div>
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /></div>
      <div class="p-2"><h4>{{item.title}} </h4> <img src="./assets/img.jpg" width="300" height="250" /></div>
    </div>



  </div>
</div>









