
.container--content {
  display: flex;
  justify-content: center;
  align-content: center;
}



.item {
  background-color: white;
  display: flex;
  margin: 5px 5px;
}



.attraction-preview:hover {
  background-color: darkgray;
}
