




<div class="container--content">



  <div class="control--panel">

    <div class="p-2">
      <select (change)="locationFilterChange($event)" style="height:30px">
        <option *ngFor="let item of locationFilter">{{item.location}}</option>
      </select>
    </div>

    <div class="p-2 ">
      <input class="form-control" style="height:30px" id="myInput" type="text" placeholder="Search..">
    </div>

    <div class="p-2 ml-auto ">
      <button *ngIf="isLogedIn" style="height:30px" (click)="onShowAddTheForm()">
        + add attraction
      </button>


    </div>
  </div>







  <div *ngFor="let item of filteredHiking " class="item ">


    <div class="attraction-preview p-2">

      <img (click)="onOpenAttraction(item._id)" src="{{item.image}}" width="250" height="200" style="border-radius:12px" />

      <div class="describe p-2">
        <h5>{{item.title}} </h5>
        <p>{{item.info}} </p>

        <i class="fa fa-map-marker" aria-hidden="true"> {{item.point}} </i>

      </div>

      <button *ngIf="isLogedIn" (click)="onDelete(item._id)">
        delete
      </button>

      <button *ngIf="isLogedIn" (click)="onEdit(item._id)">
        edit
      </button>

    </div>



  </div>
</div>

